@{
    ViewBag.Title = "Cheese World";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h3>@ViewBag.Message</h3>
            </hgroup>
        </div>
    </section>
}

<div class="hero-unit-inside" >
    <table class="fixed">
        <tr>
        <td><a href="../../Images/CheeseImage/cheese1.jpg"><img src="../../Images/CheeseImage/cheese1.jpg"></td>
        <td><a href="../../Images/CheeseImage/cheese2.jpg"><img src="../../Images/CheeseImage/cheese2.jpg"></td>
        <td><a href="../../Images/CheeseImage/meet1.jpg"><img src="../../Images/CheeseImage/meet1.jpg"></td>
        </tr>
    </table>
</div>
<div class="container-fluid">    
          <table class="fixed" >
            <col width="290px" />
            <col width="290px" />
            <col width="290px" />
            <tr>            
              <td><h4>Latest News</h4></td>
              <td><h4>Special<h4></td>
              <td><h4>Email Newsletter<h4></td>
            </tr>
            <td>
            June News
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra rhoncus sem. Maecenas tempus, erat eget porta condimentum, dui justo venenatis risus, sit amet congue lacus ligula quis nunc. 
            </td>
            <td>
            June Special
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra rhoncus sem. Maecenas tempus, erat eget porta condimentum, dui justo venenatis risus, sit amet congue lacus ligula quis nunc. 
            </td>
            <td>
            Please enter your email 
            Emaili: <input type="text" name="email">
            <input type="submit" value="Subscribe">
            </td>
            </table>
</div>



