@if (Request.IsAuthenticated) {
    <text>
     <div class="btn-group">
        <button class="btn">
            Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage Your Account" })!
        </button>
        <button class="btn">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a> }
        </button>
        </div>
    </text>
} else {
    <div class="btn-group">
        <button class="btn">
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </button>
        <button class="btn">
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </button>
    </div>
    
}
